.row
  .span12
    - if @new_friends && @new_friends.size > 0
      %ul.thumbnails
        - @new_friends.each do |friend|
          %li
            %a.thumbnail{href: friend.uri}
              %img{src: friend.profile_image_uri_https(:bigger), alt: friend.name}
    = form_tag('/follows', method: 'post', class: 'form-horizontal') do
      %fieldset
        %legend
          = t('app.desc2')
      %ul
        %li 
          %a{ :href => "https://twitter.com/KendrickColeman/lists/nwo", :title => "NWO" }
            = "nwo: "
          = t('app.nwo')
        %li
          %a{ :href => "https://twitter.com/KendrickColeman/lists/code-past-and-present", :title => "code"}
            = "code-past-and-present: "
          = t('app.code')
        %li
          %a{ :href => "https://twitter.com/kinlane/lists/evangelism", :title => "evangalist"}
            = "evangelism: "
          = t('app.devev')
      %br
      %br
        .control-group
          %label.control-label
            = t('control.select_list')
          .controls
            = select_tag('list', options_for_select(lists))
        .form-actions
          %button.btn.btn-large.btn-primary
            = t('button.follow_all')
          %p.help-block
            = t('help.please_wait')
